#questionFormContainer{
    border: solid black;
    border-radius: 10px;
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 40px;
   background-color: white;
   z-index: 999;
  }

#questionForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.displayNone{
    display: none;
}
.displayFlex{
    display: flex;
}

#generateQuestionButton{
    cursor: pointer;
    background-color: #3A86FF;
    border:none;
    color: white;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
}

.loadingIconContainer{
   position: relative;
   bottom: 20px;
   left: 650px;
}