
.headerWrapper{
background-color: #D9D9D9;
border-radius: 5px;
display: flex;
width: 800px;
height: 30px;
gap: 10px;
display: flex;
align-items: center;
}

.headerWrapper h4{
    margin-left: 10px;
}

@media (max-width: 1080px) {
    .headerWrapper{
    width: 700px;
    }
}
@media (max-width: 910px) {
    .headerWrapper{
        width: 600px;
        }
}
@media (max-width: 810px) {
    .headerWrapper{
        width: 550px;
        }
}

@media (max-width: 710px) {
    .headerWrapper{
        width: 400px;
        }
}

@media (max-width: 610px) {
    .headerWrapper{
        width: 300px;
        }
}

@media (max-width: 510px) {
    .headerWrapper{
        width: 200px;
        font-size: 13px;
        }
}


