*{
    font-family: Arial, Helvetica, sans-serif;
}

#createQuestion{
    cursor: pointer;
    font-size: 40px;
    border-radius: 5px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
    background: white;
    color: black;
    border: 2px solid #3A86FF;
    text-align: center;
    transition: 0.2s;
}

#createQuestion:hover{
    background: #3A86FF;
    color: white;
    border: white;
    transition: 0.2s;
}

.questionsContainer{
    margin-top: 10px;
    min-height: 100vh;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .empty{
        opacity: 80%;
        border: solid gray;
        border-radius: 20px ;
        width: 600px;
        height: 300px;
        position: relative;
        top: 20vh;
        left: 30vw;
        
        text-align: center;
    }

    .empty span{
        font-size: 80px ;
    }

    .LogoutBtn{
        cursor: pointer;
 background: white;
    color: black;
    border: 2px solid #3A86FF;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: 0.2s;
    }

    .LogoutBtn:hover{

 background: #3A86FF;
    color: white;
    border: white;
    transition: 0.2s;

    }