*{
    font-family: Arial, Helvetica, sans-serif;
}

#mainPage{position: relative;}

.createQuestion{
    cursor: pointer;
    font-size: 40px;
    border-radius: 5px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 10px;
    background: white;
    color: black;
    border: 2px solid #3A86FF;
    text-align: center;
    transition: 0.2s;
}

.createQuestion:hover{
    background: #3A86FF;
    color: white;
    border: white;
    transition: 0.2s;
}

.questionsContainer{
    margin-top: 10px;
    min-height: 100vh;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .empty{
        opacity: 80%;
        border: solid gray;
        border-radius: 20px ;
        width: 600px;
        height: 300px;
        position: absolute;
        top: 20vh;
        left: 25%;
        
        text-align: center;
    }

    .empty span{
        font-size: 80px ;
    }

    .LogoutBtn{
        cursor: pointer;
 background: white;
    color: black;
    border: 2px solid #3A86FF;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
    position: absolute;
    right: 20px;
    top: 10px;
    transition: 0.2s;
    }

    .LogoutBtn:hover{

 background: #3A86FF;
    color: white;
    border: white;
    transition: 0.2s;

    }

    .chartContainer{
        position: fixed;
        display: flex;
        justify-content: center;
        top: 10px;
        left: 25%;
        padding: 60px;
        height: 400px;
        width: 500px;
       background-color: white;
        border: solid #3A86FF;
        box-shadow: inset;
        border-radius:15px;
    }

    .showChart{
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 10px;
        left: 10px;
        background: white;
        border: 2px solid #3A86FF;
        padding: 10px;
        border-radius: 10px;
        font-size: 25px;
        height: 50px;
        width: 50px;
    }

    .showChart:hover{  
 background: #3A86FF;
 color: white;
 border: white;
 transition: 0.2s;
    }

    
    @media (max-width: 810px) {
        .LogoutBtn{
         padding: 10px;
         right:0px
            }
    }

    @media (max-width: 510px) {
        .LogoutBtn{
         padding: 5px;
         right:35px
            }
    }

    
    @media (max-width: 431px) {
        .LogoutBtn{
         padding: 3px;
         font-weight: 600;
         border-radius: 5px;
         right:45px
            }
    }
    

    @media (max-width: 400px) {
        .LogoutBtn{
         padding: 3px;
         right:5px;
         font-weight: 600;
         border-radius: 5px;
            }
    }